html {
  font-family: monospace;
}

.text-container {
  position: relative
}

.letter {
  position: relative;
  font-size: 35px;
  color: #999;
}

.letter.wrong {
  color: red;
}

.letter.correct {
  color: green;
}

.cursor {
  border-bottom: #3879D9 2px solid;
  position: absolute;
  width: 21px;
  height: 40px;
  opacity: 0; 
  background: white;
  top: 0;
  left: 0;
}

.cursor.active {
  opacity: .5;
}

.hidden {
  display: none;
}
