
.textHeightContainer {
  overflow: hidden;
  height: 230px;
}

.textContainer {
  position: relative;
  width: 900px;
  line-height: 4em;
  margin-right: auto;
  margin-left: auto;
}

.letter {
  position: relative;
  font-size: 35px;
  color: #999;
  border-radius: 4px;
  outline: 1px solid white;
}

.letter.wrong {
  color: darkred;
  background: pink;
}

.letter.correct:not(.wasWrong) {
  color: #008000;
  background-color: #e7fbd3;
}

.letter.correct.wasWrong {
  color: green;
  background-color: #FFE9B2;
}

.cursor {
  border-bottom: #3879D9 2px solid;
  position: absolute;
  width: 21px;
  height: 40px;
  opacity: 0; 
  background: white;
  top: 0;
  left: 0;
}

.cursor.active {
  opacity: .5;
}
